<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    <div class="container-fluid">
      {{ partial "header" . }}
      <main role="main" class="row">
      {{ partial "nav" . }}
      <section class="col-sm-10">
        <h1>{{ replace .Title "-" " " | title }} </h1>
        <ul id="list" class="row">
          {{ range .Data.Pages }}
            {{ .Render "summary" }}
          {{ end }}
        </ul>
      </section>
      </main>
      {{ partial "footer" . }}
    </div>
  </body>
</html>