<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    <div class="container-fluid">
      {{ partial "header" . }}
      <main role="main" class="row">
      {{ partial "nav" . }}
      <section class="col-sm-10">

          {{ range .Data.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          
          <!--
          <h1>About Static Site Generators</h1>
          <ol>
            <li>Why go static again?</li>
            <li>KIS<span style="opacity: 0.2">S</span></li>
            <li>Flexibility - Dropping technical dependencies</li>
            <li>Traditional CMS's aren't that simple. Or affordable.</li>
            <li><strong>Prioritizing content strategy</strong></li>
            <li>Less initial cost, better migration options</li>
            <li>Basic SSG Mechanics</li>
            <li>Common SSG Functionality, Features (e.g. Content Model, Templates/Views, Asset Pipelines</li>
            <li>Integrate, Integrate, Integrate!</li>
            <li>Is it a niche?</li>
          <ol>
          -->

      </section>
      </main>
      {{ partial "footer" . }}
    </div>
  </body>
</html>